*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.container{
    width: 1170px;
    margin: auto;
}
.col-6{
    width: 50%;
    float: left;
    padding: 0 15px;
}
.col-3{
    width: 25%;
    float: left;
    padding: 0 15px;
}
.col-4{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}
.col-8{
    width: 66.66%;
    float: left;
    padding: 0 15px;
}

.col-12{
    width: 100%;
    float: left;
    padding: 0 15px;
}

.black-bg{
    background: #222;
}
.white-text{
    color: #fff;
}
.section-title .white-text > h2:before{
    background: #fff;
}
.pt-70{padding-top: 70px;}
.pb-70{padding-bottom: 70px;}
.mb-80{
    margin-bottom: 80px;
}
a{
    transition: .3s;
}
.fix{
    overflow: hidden;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}

/* header */

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-area{
    border-top: 5px solid #4272d7;
    min-height: 120px;
}
.main-menu{
    float: right;
}
.main-menu ul{}
.main-menu ul li{
    display:inline-block;
    margin-left: 40px;
    position: relative;
}
.main-menu ul li a{
    color: #666666;
    font-size: 15px;
    padding: 50px 0;
    text-decoration: none;
    display: block;
}
.main-menu ul li:hover > a{
    color: #4272d7;
}

.logo{
    float: left;
    margin-top: 30px;
}
.search-icon{
    float: right;
    margin-top: 50px;
    margin-left: 25px;
    padding-left: 25px;
    position: relative;
}
.search-icon::before{
    background: #cccccc;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 2px;
}

/* dropdown menu */

.main-menu ul li ul.submenu{
    background: #171a21 none repeat scroll 0 0;
    border-top: 5px solid #4272d7;
    left: 0;
    position: absolute;
    top: 110%;
    width: 260px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 99;
}

.main-menu ul li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.main-menu ul li ul.submenu li{
    margin: 0;
    display: block;
    border-bottom: 2px solid #1e2128;
}

.main-menu ul li ul.submenu li a{
    color: #fff;
    font-size: 13px;
    padding: 15px 30px;
}

.main-menu ul li ul.submenu li:hover > a{
    background: #4272d7 ;
    padding-left: 40px;
}

.main-menu ul li ul.submenu li ul.submenu{
    left: 100%;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.main-menu ul li ul.submenu li:hover ul.submenu{
    opacity: 1;
    visibility: visible;
}


/* slider area */
.single-slide{
    padding: 175px 0;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.single-slide h4{
    color: #fff;
    font-size: 30px;
}
.single-slide h2{
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.single-slide a{
    background: #4272d7;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
}
.slider-area{
    overflow: hidden;
    width: 100%;
}


.slider-active .owl-nav button {
    background: #ddd !important;
    height: 40px;
    width: 40px;
    left: 50px;
    position: absolute;
    top: 50%;
    z-index: 9;
    text-align: center;
    line-height: 40px;
    color: #7d64e2 !important;
}
.slider-active .owl-nav button.owl-next{
   right: 50px;
   left: auto;
}

.slider-active .owl-dots{
    bottom: 40px;
    margin-top: -20px;
    position: relative;
    text-align: center;
    z-index: 999;
}

.slider-active .owl-dot{
    background: #4272d7 !important;
    border-radius: 100%;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 2px;
}

.slider-active button.owl-dot.active {
    background: blue !important;
}


/* cta area css */
.cta-area{
    background: #4272d7;
    padding: 30px 0;
}

.cta-text p{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 8px;
}
.cta-text p span{
    font-size: 30px;
}
.cta-button a{
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    padding: 17px 45px;
    text-decoration: none;
}

.cta-button{
    text-align: right;
}



/* features section */
.features-area{
    padding: 70px 0;
}
.single-features{
    position: relative;
    overflow: hidden;
}
.features-content{
    background: #507bd6;
    bottom: 0;
    left: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    transform: translateY(70%);
}
.single-features:hover .features-content{
    transform: translateY(0);
}
.features-img img {
    height: 300px;
    width: 100%;
}
.feature-icon{
    margin-bottom: 30px;
}
.feature-icon i{
    color: #fff;
    display: inline-block;
    font-size: 30px;
}
.feature-icon h3{
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.features-content p{
    color: #e5e5e5;
    line-height: 25px;
}

.features-content a{
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}


/* service section */
.section-title{
    text-align: center;
}

.section-title h2{
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.section-title > h2::before{
    background: #222;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}

.services-area{
    background: #f0f0f0;
    padding: 70px 0 20px;
}


.service-icon i{
    background: #4272d7;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    line-height: 50px;
}
.single-service{
    display: flex;
    margin-bottom: 50px;
}
.service-content{
    padding-left: 15px;
}
.service-content h3{
    color: #555555;
    font-weight: 700;
    margin-bottom: 15px;
}

.service-content p{
    color: #666666;
    font-size: 15px;
    line-height: 25px;
}


.project-wrapper{
    position: relative;
}
.project-content{
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.project-img > img{
    width: 100%;
}
.project-img{
    position: relative;
}
.project-img::before{
    background: #507bd6;
    content:"";
    height: 100%;
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 100%;
    opacity: 0;
}
.project-content a{
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 15px;
}

.project-content span{
    color: #cccccc;
}

.project-wrapper:hover .project-img::before{
    opacity: 1;
}
.project-wrapper:hover .project-content{
    opacity: 1;
    visibility: visible;
}

.video{
    position: relative;
}
.video img {
    width: 100%;
}
.video > a{
    bottom: 0;
    height: 55px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    color: #fff;
    font-size: 50px;
}

.chose-title i{
    color: #555;
    display: inline-block;
    font-size: 18px;
}
.chose-title h3{
    display: inline-block;
    padding-left: 15px;
    font-size: 16px;
    color: #555;
}
.chose-title{
    margin-bottom: 20px;
}
.chose-list{
    margin-bottom: 30px;
    padding-left: 10px;
}

.working-area{
    padding-top: 180px;
    padding-bottom: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ddd;
}

.section-title > p{
    margin: 30px 0;
}

.working-text a {
    background: #4272d7;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
}